In [1]:
# Dependencies
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

# Scraping from Pro Football Reference

In [2]:
#Define url to be scraped
url_18 = 'https://www.pro-football-reference.com/years/2018/passing.htm'

In [3]:
#Use pandas reader on the page in question
table_18 = pd.read_html(url_18)

## Passing Stats

In [4]:
#Select the first table above
df_18 = table_18[0]
#Remove unnecessary characters to help improve data aggregation later
df_18['Player'] = df_18['Player'].str.replace('*','')
df_18['Player'] = df_18['Player'].str.replace('+','')
#Remove rows with "Rk" as these are just listing the column again as you scroll down the page
df_18 = df_18[df_18.Rk != 'Rk']
#Add a year column to keep track of which year the data relates to when it is aggregated
df_18['Year'] = 2018

C:\Users\quaid\.conda\envs\pandas\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [5]:
#All code above was copied into one cell and ran for the next 9 years in the 10 year period being examined
url_17 = 'https://www.pro-football-reference.com/years/2017/passing.htm'
url_16 = 'https://www.pro-football-reference.com/years/2016/passing.htm'
url_15 = 'https://www.pro-football-reference.com/years/2015/passing.htm'
url_14 = 'https://www.pro-football-reference.com/years/2014/passing.htm'
url_13 = 'https://www.pro-football-reference.com/years/2013/passing.htm'
url_12 = 'https://www.pro-football-reference.com/years/2012/passing.htm'
url_11 = 'https://www.pro-football-reference.com/years/2011/passing.htm'
url_10 = 'https://www.pro-football-reference.com/years/2010/passing.htm'
url_09 = 'https://www.pro-football-reference.com/years/2009/passing.htm'

In [6]:
table_17 = pd.read_html(url_17)
table_16 = pd.read_html(url_16)
table_15 = pd.read_html(url_15)
table_14 = pd.read_html(url_14)
table_13 = pd.read_html(url_13)
table_12 = pd.read_html(url_12)
table_11 = pd.read_html(url_11)
table_10 = pd.read_html(url_10)
table_09 = pd.read_html(url_09)

In [7]:
df_17 = table_17[0]
df_17['Player'] = df_17['Player'].str.replace('*','')
df_17['Player'] = df_17['Player'].str.replace('+','')
df_17 = df_17[df_17.Rk != 'Rk']
df_17['Year'] = 2017

df_16 = table_16[0]
df_16['Player'] = df_16['Player'].str.replace('*','')
df_16['Player'] = df_16['Player'].str.replace('+','')
df_16 = df_16[df_16.Rk != 'Rk']
df_16['Year'] = 2016

df_15 = table_15[0]
df_15['Player'] = df_15['Player'].str.replace('*','')
df_15['Player'] = df_15['Player'].str.replace('+','')
df_15 = df_15[df_15.Rk != 'Rk']
df_15['Year'] = 2015

df_14 = table_14[0]
df_14['Player'] = df_14['Player'].str.replace('*','')
df_14['Player'] = df_14['Player'].str.replace('+','')
df_14 = df_14[df_14.Rk != 'Rk']
df_14['Year'] = 2014

df_13 = table_13[0]
df_13['Player'] = df_13['Player'].str.replace('*','')
df_13['Player'] = df_13['Player'].str.replace('+','')
df_13 = df_13[df_13.Rk != 'Rk']
df_13['Year'] = 2013

df_12 = table_12[0]
df_12['Player'] = df_12['Player'].str.replace('*','')
df_12['Player'] = df_12['Player'].str.replace('+','')
df_12 = df_12[df_12.Rk != 'Rk']
df_12['Year'] = 2012

df_11 = table_11[0]
df_11['Player'] = df_11['Player'].str.replace('*','')
df_11['Player'] = df_11['Player'].str.replace('+','')
df_11 = df_11[df_11.Rk != 'Rk']
df_11['Year'] = 2011

df_10 = table_10[0]
df_10['Player'] = df_10['Player'].str.replace('*','')
df_10['Player'] = df_10['Player'].str.replace('+','')
df_10 = df_10[df_10.Rk != 'Rk']
df_10['Year'] = 2010

df_09 = table_09[0]
df_09['Player'] = df_09['Player'].str.replace('*','')
df_09['Player'] = df_09['Player'].str.replace('+','')
df_09 = df_09[df_09.Rk != 'Rk']
df_09['Year'] = 2009

C:\Users\quaid\.conda\envs\pandas\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\quaid\.conda\envs\pandas\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\quaid\.conda\envs\pandas\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\quaid\.conda\envs\pandas\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\quaid\.conda\envs\pandas\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\quaid\.conda\envs\pandas\lib\site-packages\ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\quaid\.conda\envs\pandas\lib\site-packages\ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\quaid\.conda\envs\pandas\lib\site-packages\ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\quaid\.conda\envs\pandas\lib\site-packages\ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
combined_passing = pd.concat([df_18, df_17, df_16, df_15, df_14, df_13, df_12, df_11, df_10, df_09], ignore_index=True)

In [9]:
combined_passing.fillna(0)

,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,...,Rate,QBR,Sk,Yds.1,NY/A,ANY/A,Sk%,4QC,GWD,Year
0,1,Ben Roethlisberger,PIT,36,QB,16,16,9-6-1,452,675,...,96.5,71.0,24,166,7.10,7.04,3.4,2,3,2018
1,2,Andrew Luck,IND,29,QB,16,16,10-6-0,430,639,...,98.7,69.4,18,134,6.79,6.95,2.7,3,3,2018
2,3,Matt Ryan,ATL,33,QB,16,16,7-9-0,422,608,...,108.1,68.5,42,296,7.12,7.71,6.5,1,1,2018
3,4,Kirk Cousins,MIN,30,QB,16,16,8-7-1,425,606,...,99.7,58.2,40,262,6.25,6.48,6.2,1,0,2018
4,5,Aaron Rodgers,GNB,35,QB,16,16,6-9-1,372,597,...,97.6,54.4,49,353,6.33,6.96,7.6,3,3,2018
5,6,Case Keenum,DEN,30,QB,16,16,6-10-0,365,586,...,81.2,45.5,34,235,5.90,5.39,5.5,3,4,2018
6,7,Patrick Mahomes,KAN,23,QB,16,16,12-4-0,383,580,...,113.8,80.4,26,171,8.13,8.89,4.3,2,2,2018
7,8,Eli Manning,NYG,37,QB,16,16,5-11-0,380,576,...,92.4,48.7,47,358,6.33,6.21,7.5,1,2,2018
8,9,Tom Brady,NWE,41,QB,16,16,11-5-0,375,570,...,97.7,66.6,21,147,7.12,7.26,3.6,1,2,2018
9,10,Jared Goff,LAR,24,QB,16,16,13-3-0,364,561,...,101.1,63.1,33,223,7.52,7.69,5.6,4,4,2018
10,11,Matthew Stafford,DET,30,QB,16,16,6-10-0,367,555,...,89.9,48.4,40,255,5.92,5.79,6.7,0,1,2018
11,12,Derek Carr,OAK,27,QB,16,16,4-12-0,381,553,...,93.9,46.9,51,299,6.21,6.09,8.4,3,3,2018
12,13,Dak Prescott,DAL,25,QB,16,16,10-6-0,356,526,...,96.9,56.2,56,347,6.08,6.22,9.6,3,5,2018
13,14,Philip Rivers,LAC,37,QB,16,16,12-4-0,347,508,...,105.5,69.1,32,204,7.60,7.79,5.9,3,3,2018
14,15,Deshaun Watson,HOU,23,QB,16,16,11-5-0,345,505,...,103.1,60.7,62,384,6.67,6.87,10.9,5,5,2018
15,16,Drew Brees,NOR,39,QB,15,15,13-2-0,364,489,...,115.7,80.4,17,121,7.65,8.47,3.4,6,7,2018
16,17,Baker Mayfield,CLE,23,QB,14,13,6-7-0,310,486,...,93.7,53.2,25,173,6.95,6.77,4.9,3,4,2018
17,18,Cam Newton,CAR,29,QB,14,14,6-8-0,320,471,...,94.2,55.0,29,213,6.36,6.15,5.8,2,2,2018
18,19,Mitchell Trubisky,CHI,24,QB,14,14,11-3-0,289,434,...,95.4,70.8,24,143,6.72,6.59,5.2,1,2,2018
19,20,Russell Wilson,SEA,30,QB,16,16,10-6-0,280,427,...,110.9,62.8,51,355,6.47,7.28,10.7,2,4,2018
20,21,Sam Darnold,NYJ,21,QB,13,13,4-9-0,239,414,...,77.6,45.5,30,204,5.99,5.24,6.8,1,1,2018
21,22,Blake Bortles,JAX,26,QB,13,12,3-9-0,243,403,...,79.8,41.7,31,173,5.86,5.32,7.1,0,1,2018
22,23,Carson Wentz,PHI,26,QB,11,11,5-6-0,279,401,...,102.2,62.6,31,202,6.65,6.89,7.2,2,2,2018
23,24,Josh Rosen,ARI,21,QB,14,13,3-10-0,217,393,...,66.7,24.7,45,320,4.47,3.53,10.3,1,2,2018
24,25,Joe Flacco,BAL,33,QB,9,9,4-5-0,232,379,...,84.2,56.3,16,79,6.04,5.96,4.1,0,0,2018
25,26,Jameis Winston,TAM,24,QB,11,9,3-6-0,244,378,...,90.2,69.7,27,157,7.00,6.38,6.7,0,1,2018
26,27,Andy Dalton,CIN,31,QB,11,11,5-6-0,226,365,...,89.6,62.3,21,157,6.24,6.05,5.4,3,4,2018
27,28,Marcus Mariota,TEN,25,QB,14,13,7-6-0,228,331,...,92.3,50.6,42,243,6.13,5.75,11.3,2,3,2018
28,29,Alex Smith,WAS,34,QB,10,10,6-4-0,205,328,...,85.7,51.4,22,121,5.88,5.81,6.3,0,0,2018
29,30,Josh Allen,BUF,22,QB,12,11,5-6-0,169,320,...,67.9,49.8,28,213,5.35,4.37,8.0,2,3,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
928,79,Mark Bradley,KAN,27,wr,13,6,0,1,1,...,118.7,100.0,0,0,26.00,26.00,0.0,0,0,2009
929,80,Chris Brown,HOU,28,rb,14,4,0,0,1,...,0.0,0.0,0,0,0.00,-45.00,0.0,0,0,2009
930,81,Josh Brown,STL,30,K,16,0,0,1,1,...,158.3,100.0,0,0,36.00,56.00,0.0,0,0,2009
931,82,Michael Bush,OAK,25,rb,16,7,0,0,1,...,39.6,0.2,0,0,0.00,0.00,0.0,0,0,2009
932,83,Tim Castille,KAN,25,0,7,0,0,0,1,...,0.0,0.0,0,0,0.00,-45.00,0.0,0,0,2009
933,84,Mark Clayton,BAL,27,wr,14,12,0,1,1,...,79.2,19.6,0,0,0.00,0.00,0.0,0,0,2009
934,85,Michael Clayton,TAM,27,WR,13,11,0,0,1,...,39.6,10.4,0,0,0.00,0.00,0.0,0,0,2009
935,86,Phil Dawson,CLE,34,K,11,0,0,1,1,...,108.3,100.0,0,0,10.00,10.00,0.0,0,0,2009
936,87,Braylon Edwards,2TM,26,0,16,15,0,0,1,...,39.6,0,0,0,0.00,0.00,0.0,0,0,2009
937,88,Matt Gutierrez,KAN,25,0,1,0,0,1,1,...,79.2,92.8,0,0,3.00,3.00,0.0,0,0,2009
938,89,Santonio Holmes,PIT,25,fl/se/WR,16,16,0,0,1,...,39.6,0.0,0,0,0.00,0.00,0.0,0,0,2009
939,90,Fred Jackson,BUF,28,RB/wr,16,11,0,1,1,...,158.3,65.7,0,0,27.00,47.00,0.0,0,0,2009
940,91,Chris Johnson,TEN,24,RB,16,16,0,0,1,...,39.6,0.1,0,0,0.00,0.00,0.0,0,0,2009
941,92,Dirk Johnson,TAM,34,P,11,0,0,0,1,...,39.6,0.0,0,0,0.00,0.00,0.0,0,0,2009
942,93,J.P. Losman,OAK,28,0,1,0,0,0,1,...,39.6,2.7,0,0,0.00,0.00,0.0,0,0,2009
943,94,Brad Maynard,CHI,35,P,16,0,0,1,1,...,79.2,0.4,0,0,0.00,0.00,0.0,0,0,2009
944,95,Mewelde Moore,PIT,27,0,16,0,0,1,1,...,131.2,100.0,0,0,6.00,26.00,0.0,0,0,2009
945,96,Brian Moorman,BUF,33,P,16,0,0,1,1,...,158.3,100.0,0,0,25.00,45.00,0.0,0,0,2009
946,97,Legedu Naanee,SDG,26,wr,15,1,0,1,1,...,118.7,98.3,0,0,21.00,21.00,0.0,0,0,2009
947,98,Clinton Portis,WAS,28,RB,8,8,0,0,1,...,39.6,0.0,0,0,0.00,0.00,0.0,0,0,2009
948,99,Ray Rice,BAL,22,RB,16,15,0,0,1,...,39.6,0.1,0,0,0.00,0.00,0.0,0,0,2009
949,100,Sidney Rice,MIN,23,WR,16,14,0,0,1,...,39.6,3.0,0,0,0.00,0.00,0.0,0,0,2009
950,101,Jon Ryan,SEA,28,P,16,0,0,1,1,...,118.7,100.0,0,0,42.00,42.00,0.0,0,0,2009
951,102,Brad Smith,NYJ,26,wr,13,2,0,1,1,...,118.7,100.0,0,0,27.00,27.00,0.0,0,0,2009
952,103,Micheal Spurlock,2TM,26,0,6,0,0,0,1,...,39.6,0,0,0,0.00,0.00,0.0,0,0,2009
953,104,LaDainian Tomlinson,SDG,30,RB,14,14,0,0,1,...,39.6,36.3,0,0,0.00,0.00,0.0,0,0,2009
954,105,Reggie Wayne,IND,31,WR,16,16,0,0,1,...,0.0,0.0,0,0,0.00,-45.00,0.0,0,0,2009
955,106,Steve Weatherford,NYJ,27,P,16,0,0,0,1,...,0.0,5.1,0,0,0.00,-45.00,0.0,0,0,2009
956,107,Brian Westbrook,PHI,30,rb,8,7,0,0,1,...,39.6,64.2,0,0,0.00,0.00,0.0,0,0,2009
957,108,Ricky Williams,MIA,32,rb,16,7,0,0,1,...,0.0,9.9,0,0,0.00,-45.00,0.0,0,0,2009

In [10]:
final = combined_passing["Player"].str.split(" ", n = 1, expand = True) 
  
# making separate first name column from new data frame 
combined_passing["First"]= final[0] 
  
# making separate last name column from new data frame 
combined_passing["Last"]= final[1]

In [11]:
final_passing = combined_passing.fillna(0)
final_passing
final_passing = final_passing.drop(columns=['NY/A', 'ANY/A','Lng','Y/A','AY/A','Y/C','QBrec','First','Last',
                                           'Sk','Yds.1','Sk%','Rk'])
final_passing.head()

,Player,Tm,Age,Pos,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,Int,Int%,Y/G,Rate,QBR,4QC,GWD,Year
0,Ben Roethlisberger,PIT,36,QB,16,16,452,675,67.0,5129,34,5.0,16,2.4,320.6,96.5,71.0,2,3,2018
1,Andrew Luck,IND,29,QB,16,16,430,639,67.3,4593,39,6.1,15,2.3,287.1,98.7,69.4,3,3,2018
2,Matt Ryan,ATL,33,QB,16,16,422,608,69.4,4924,35,5.8,7,1.2,307.8,108.1,68.5,1,1,2018
3,Kirk Cousins,MIN,30,QB,16,16,425,606,70.1,4298,30,5.0,10,1.7,268.6,99.7,58.2,1,0,2018
4,Aaron Rodgers,GNB,35,QB,16,16,372,597,62.3,4442,25,4.2,2,0.3,277.6,97.6,54.4,3,3,2018

In [12]:
final_passing.rename(columns={"Cmp%":"Cmp_Perc", "TD%":"TD_Perc", "Int%":"Int_Perc"}, inplace=True)
final_passing.head()

,Player,Tm,Age,Pos,G,GS,Cmp,Att,Cmp_Perc,Yds,TD,TD_Perc,Int,Int_Perc,Y/G,Rate,QBR,4QC,GWD,Year
0,Ben Roethlisberger,PIT,36,QB,16,16,452,675,67.0,5129,34,5.0,16,2.4,320.6,96.5,71.0,2,3,2018
1,Andrew Luck,IND,29,QB,16,16,430,639,67.3,4593,39,6.1,15,2.3,287.1,98.7,69.4,3,3,2018
2,Matt Ryan,ATL,33,QB,16,16,422,608,69.4,4924,35,5.8,7,1.2,307.8,108.1,68.5,1,1,2018
3,Kirk Cousins,MIN,30,QB,16,16,425,606,70.1,4298,30,5.0,10,1.7,268.6,99.7,58.2,1,0,2018
4,Aaron Rodgers,GNB,35,QB,16,16,372,597,62.3,4442,25,4.2,2,0.3,277.6,97.6,54.4,3,3,2018

In [13]:
# Rename columns to lowercase for postgres and set index to Player column
final_passing.rename(columns={"Player":"player","Tm":"team","Age":"age","Pos":"pos","G":"games","GS":"gs","Cmp":"cmp",
                             "Att":"att","Cmp_Perc":"comp_perc","Yds":"yds","TD":"td","TD_Perc":"td_perc","Int":"int",
                             "Int_Perc":"int_perc","Y/G":"y/g","Rate":"rate","QBR":"qbr","4QC":"4qc","GWD":"gwd",
                             "Year":"year"}, inplace=True)
final_passing.set_index(['player'],inplace=True)
final_passing.head()

,team,age,pos,games,gs,cmp,att,comp_perc,yds,td,td_perc,int,int_perc,y/g,rate,qbr,4qc,gwd,year
player,,,,,,,,,,,,,,,,,,,
Ben Roethlisberger,PIT,36,QB,16,16,452,675,67.0,5129,34,5.0,16,2.4,320.6,96.5,71.0,2,3,2018
Andrew Luck,IND,29,QB,16,16,430,639,67.3,4593,39,6.1,15,2.3,287.1,98.7,69.4,3,3,2018
Matt Ryan,ATL,33,QB,16,16,422,608,69.4,4924,35,5.8,7,1.2,307.8,108.1,68.5,1,1,2018
Kirk Cousins,MIN,30,QB,16,16,425,606,70.1,4298,30,5.0,10,1.7,268.6,99.7,58.2,1,0,2018
Aaron Rodgers,GNB,35,QB,16,16,372,597,62.3,4442,25,4.2,2,0.3,277.6,97.6,54.4,3,3,2018

## Rushing

In [14]:
rushing_url_18 = 'https://www.pro-football-reference.com/years/2018/rushing.htm'
rushing_table_18 = pd.read_html(rushing_url_18)

In [15]:
#Select the first table above
rushing_df_18 = rushing_table_18[0]

rushing_df_18.columns = ['Rk', 'Player', 'Tm', 'Age','Pos','G','GS','Rush Att','Rush Yds','Rush TD',
                         'Lng Rush','Y/A','Y/G','Fumbles']

#Remove unnecessary characters to help improve data aggregation later
rushing_df_18['Player'] = rushing_df_18['Player'].str.replace('*','')
rushing_df_18['Player'] = rushing_df_18['Player'].str.replace('+','')
#Remove rows with "Rk" as these are just listing the column again as you scroll down the page
rushing_df_18 = rushing_df_18[rushing_df_18.Rk != 'Rk']
#Add a year column to keep track of which year the data relates to when it is aggregated
rushing_df_18['Year'] = 2018

C:\Users\quaid\.conda\envs\pandas\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [16]:
rushing_url_17 = 'https://www.pro-football-reference.com/years/2017/rushing.htm'
rushing_url_16 = 'https://www.pro-football-reference.com/years/2016/rushing.htm'
rushing_url_15 = 'https://www.pro-football-reference.com/years/2015/rushing.htm'
rushing_url_14 = 'https://www.pro-football-reference.com/years/2014/rushing.htm'
rushing_url_13 = 'https://www.pro-football-reference.com/years/2013/rushing.htm'
rushing_url_12 = 'https://www.pro-football-reference.com/years/2012/rushing.htm'
rushing_url_11 = 'https://www.pro-football-reference.com/years/2011/rushing.htm'
rushing_url_10 = 'https://www.pro-football-reference.com/years/2010/rushing.htm'
rushing_url_09 = 'https://www.pro-football-reference.com/years/2009/rushing.htm'

rushing_table_17 = pd.read_html(rushing_url_17)
rushing_table_16 = pd.read_html(rushing_url_16)
rushing_table_15 = pd.read_html(rushing_url_15)
rushing_table_14 = pd.read_html(rushing_url_14)
rushing_table_13 = pd.read_html(rushing_url_13)
rushing_table_12 = pd.read_html(rushing_url_12)
rushing_table_11 = pd.read_html(rushing_url_11)
rushing_table_10 = pd.read_html(rushing_url_10)
rushing_table_09 = pd.read_html(rushing_url_09)

rushing_df_17 = rushing_table_17[0]
rushing_df_17.columns = ['Rk', 'Player', 'Tm', 'Age','Pos','G','GS','Rush Att','Rush Yds','Rush TD',
                         'Lng Rush','Y/A','Y/G','Fumbles']
rushing_df_17['Player'] = rushing_df_17['Player'].str.replace('*','')
rushing_df_17['Player'] = rushing_df_17['Player'].str.replace('+','')
rushing_df_17 = rushing_df_17[rushing_df_17.Rk != 'Rk']
rushing_df_17['Year'] = 2017

C:\Users\quaid\.conda\envs\pandas\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [17]:
rushing_df_16 = rushing_table_16[0]
rushing_df_16.columns = ['Rk', 'Player', 'Tm', 'Age','Pos','G','GS','Rush Att','Rush Yds','Rush TD',
                         'Lng Rush','Y/A','Y/G','Fumbles']
rushing_df_16['Player'] = rushing_df_16['Player'].str.replace('*','')
rushing_df_16['Player'] = rushing_df_16['Player'].str.replace('+','')
rushing_df_16 = rushing_df_16[rushing_df_16.Rk != 'Rk']
rushing_df_16['Year'] = 2016

C:\Users\quaid\.conda\envs\pandas\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [18]:
rushing_df_15 = rushing_table_15[0]
rushing_df_15.columns = ['Rk', 'Player', 'Tm', 'Age','Pos','G','GS','Rush Att','Rush Yds','Rush TD',
                         'Lng Rush','Y/A','Y/G','Fumbles']
rushing_df_15['Player'] = rushing_df_15['Player'].str.replace('*','')
rushing_df_15['Player'] = rushing_df_15['Player'].str.replace('+','')
rushing_df_15 = rushing_df_15[rushing_df_15.Rk != 'Rk']
rushing_df_15['Year'] = 2015

C:\Users\quaid\.conda\envs\pandas\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [19]:
rushing_df_14 = rushing_table_14[0]
rushing_df_14.columns = ['Rk', 'Player', 'Tm', 'Age','Pos','G','GS','Rush Att','Rush Yds','Rush TD',
                         'Lng Rush','Y/A','Y/G','Fumbles']
rushing_df_14['Player'] = rushing_df_14['Player'].str.replace('*','')
rushing_df_14['Player'] = rushing_df_14['Player'].str.replace('+','')
rushing_df_14 = rushing_df_14[rushing_df_14.Rk != 'Rk']
rushing_df_14['Year'] = 2014

C:\Users\quaid\.conda\envs\pandas\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [20]:
rushing_df_13 = rushing_table_13[0]
rushing_df_13.columns = ['Rk', 'Player', 'Tm', 'Age','Pos','G','GS','Rush Att','Rush Yds','Rush TD',
                         'Lng Rush','Y/A','Y/G','Fumbles']
rushing_df_13['Player'] = rushing_df_13['Player'].str.replace('*','')
rushing_df_13['Player'] = rushing_df_13['Player'].str.replace('+','')
rushing_df_13 = rushing_df_13[rushing_df_13.Rk != 'Rk']
rushing_df_13['Year'] = 2013

C:\Users\quaid\.conda\envs\pandas\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [21]:
rushing_df_12 = rushing_table_12[0]
rushing_df_12.columns = ['Rk', 'Player', 'Tm', 'Age','Pos','G','GS','Rush Att','Rush Yds','Rush TD',
                         'Lng Rush','Y/A','Y/G','Fumbles']
rushing_df_12['Player'] = rushing_df_12['Player'].str.replace('*','')
rushing_df_12['Player'] = rushing_df_12['Player'].str.replace('+','')
rushing_df_12 = rushing_df_12[rushing_df_12.Rk != 'Rk']
rushing_df_12['Year'] = 2012

C:\Users\quaid\.conda\envs\pandas\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [22]:
rushing_df_11 = rushing_table_11[0]
rushing_df_11.columns = ['Rk', 'Player', 'Tm', 'Age','Pos','G','GS','Rush Att','Rush Yds','Rush TD',
                         'Lng Rush','Y/A','Y/G','Fumbles']
rushing_df_11['Player'] = rushing_df_11['Player'].str.replace('*','')
rushing_df_11['Player'] = rushing_df_11['Player'].str.replace('+','')
rushing_df_11 = rushing_df_11[rushing_df_11.Rk != 'Rk']
rushing_df_11['Year'] = 2011

C:\Users\quaid\.conda\envs\pandas\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [23]:
rushing_df_10 = rushing_table_10[0]
rushing_df_10.columns = ['Rk', 'Player', 'Tm', 'Age','Pos','G','GS','Rush Att','Rush Yds','Rush TD',
                         'Lng Rush','Y/A','Y/G','Fumbles']
rushing_df_10['Player'] = rushing_df_10['Player'].str.replace('*','')
rushing_df_10['Player'] = rushing_df_10['Player'].str.replace('+','')
rushing_df_10 = rushing_df_10[rushing_df_10.Rk != 'Rk']
rushing_df_10['Year'] = 2010

C:\Users\quaid\.conda\envs\pandas\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [24]:
rushing_df_09 = rushing_table_09[0]
rushing_df_09.columns = ['Rk', 'Player', 'Tm', 'Age','Pos','G','GS','Rush Att','Rush Yds','Rush TD',
                         'Lng Rush','Y/A','Y/G','Fumbles']
rushing_df_09['Player'] = rushing_df_09['Player'].str.replace('*','')
rushing_df_09['Player'] = rushing_df_09['Player'].str.replace('+','')
rushing_df_09 = rushing_df_09[rushing_df_09.Rk != 'Rk']
rushing_df_09['Year'] = 2009

C:\Users\quaid\.conda\envs\pandas\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [25]:
combined_rushing = pd.concat([rushing_df_18, rushing_df_17, rushing_df_16, rushing_df_15, 
                              rushing_df_14, rushing_df_13, rushing_df_12, rushing_df_11, 
                              rushing_df_10, rushing_df_09], ignore_index=True)
# combined_rushing.head()

In [26]:
final_rushing = combined_rushing.fillna(0)
final_rushing = final_rushing.drop(columns=['Rk'])
final_rushing.head()

,Player,Tm,Age,Pos,G,GS,Rush Att,Rush Yds,Rush TD,Lng Rush,Y/A,Y/G,Fumbles,Year
0,Ezekiel Elliott,DAL,23,RB,15,15,304,1434,6,41,4.7,95.6,6,2018
1,Saquon Barkley,NYG,21,RB,16,16,261,1307,11,78,5.0,81.7,0,2018
2,David Johnson,ARI,27,RB,16,16,258,940,7,53,3.6,58.8,3,2018
3,Todd Gurley,LAR,24,RB,14,14,256,1251,17,36,4.9,89.4,1,2018
4,Adrian Peterson,WAS,33,RB,16,16,251,1042,7,90,4.2,65.1,3,2018

In [27]:
# Rename columns to lowercase and set player to index
final_rushing.rename(columns={"Player":"player","Tm":"team","Age":"age","Pos":"pos","G":"games","GS":"gs","Rush Att":"rush_att",
                             "Rush Yds":"rush_yds","Rush TD":"rush_td","Lng Rush":"long_rush","Y/A":"y/a","Y/G":"y/g",
                             "Fumbles":"fumbles","Year":"year"},inplace=True)
final_rushing.set_index(['player'],inplace=True)
final_rushing.head()

,team,age,pos,games,gs,rush_att,rush_yds,rush_td,long_rush,y/a,y/g,fumbles,year
player,,,,,,,,,,,,,
Ezekiel Elliott,DAL,23,RB,15,15,304,1434,6,41,4.7,95.6,6,2018
Saquon Barkley,NYG,21,RB,16,16,261,1307,11,78,5.0,81.7,0,2018
David Johnson,ARI,27,RB,16,16,258,940,7,53,3.6,58.8,3,2018
Todd Gurley,LAR,24,RB,14,14,256,1251,17,36,4.9,89.4,1,2018
Adrian Peterson,WAS,33,RB,16,16,251,1042,7,90,4.2,65.1,3,2018

## Receiving

In [28]:
receiving_url_18 = 'https://www.pro-football-reference.com/years/2018/receiving.htm'
receiving_table_18 = pd.read_html(receiving_url_18)
#Select the first table above
receiving_df_18 = receiving_table_18[0]

#Remove unnecessary characters to help improve data aggregation later
receiving_df_18['Player'] = receiving_df_18['Player'].str.replace('*','')
receiving_df_18['Player'] = receiving_df_18['Player'].str.replace('+','')
#Remove rows with "Rk" as these are just listing the column again as you scroll down the page
receiving_df_18 = receiving_df_18[receiving_df_18.Rk != 'Rk']
#Add a year column to keep track of which year the data relates to when it is aggregated
receiving_df_18['Year'] = 2018
# receiving_df_18

C:\Users\quaid\.conda\envs\pandas\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [29]:
receiving_url_17 = 'https://www.pro-football-reference.com/years/2017/receiving.htm'
receiving_url_16 = 'https://www.pro-football-reference.com/years/2016/receiving.htm'
receiving_url_15 = 'https://www.pro-football-reference.com/years/2015/receiving.htm'
receiving_url_14 = 'https://www.pro-football-reference.com/years/2014/receiving.htm'
receiving_url_13 = 'https://www.pro-football-reference.com/years/2013/receiving.htm'
receiving_url_12 = 'https://www.pro-football-reference.com/years/2012/receiving.htm'
receiving_url_11 = 'https://www.pro-football-reference.com/years/2011/receiving.htm'
receiving_url_10 = 'https://www.pro-football-reference.com/years/2010/receiving.htm'
receiving_url_09 = 'https://www.pro-football-reference.com/years/2009/receiving.htm'

receiving_table_17 = pd.read_html(receiving_url_17)
receiving_table_16 = pd.read_html(receiving_url_16)
receiving_table_15 = pd.read_html(receiving_url_15)
receiving_table_14 = pd.read_html(receiving_url_14)
receiving_table_13 = pd.read_html(receiving_url_13)
receiving_table_12 = pd.read_html(receiving_url_12)
receiving_table_11 = pd.read_html(receiving_url_11)
receiving_table_10 = pd.read_html(receiving_url_10)
receiving_table_09 = pd.read_html(receiving_url_09)

In [30]:
receiving_df_17 = receiving_table_17[0]
#Remove unnecessary characters to help improve data aggregation later
receiving_df_17['Player'] = receiving_df_17['Player'].str.replace('*','')
receiving_df_17['Player'] = receiving_df_17['Player'].str.replace('+','')
#Remove rows with "Rk" as these are just listing the column again as you scroll down the page
receiving_df_17 = receiving_df_17[receiving_df_17.Rk != 'Rk']
#Add a year column to keep track of which year the data relates to when it is aggregated
receiving_df_17['Year'] = 2017

C:\Users\quaid\.conda\envs\pandas\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [31]:
receiving_df_16 = receiving_table_16[0]
#Remove unnecessary characters to help improve data aggregation later
receiving_df_16['Player'] = receiving_df_16['Player'].str.replace('*','')
receiving_df_16['Player'] = receiving_df_16['Player'].str.replace('+','')
#Remove rows with "Rk" as these are just listing the column again as you scroll down the page
receiving_df_16 = receiving_df_16[receiving_df_16.Rk != 'Rk']
#Add a year column to keep track of which year the data relates to when it is aggregated
receiving_df_16['Year'] = 2016

C:\Users\quaid\.conda\envs\pandas\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [32]:
receiving_df_15 = receiving_table_15[0]
#Remove unnecessary characters to help improve data aggregation later
receiving_df_15['Player'] = receiving_df_15['Player'].str.replace('*','')
receiving_df_15['Player'] = receiving_df_15['Player'].str.replace('+','')
#Remove rows with "Rk" as these are just listing the column again as you scroll down the page
receiving_df_15 = receiving_df_15[receiving_df_15.Rk != 'Rk']
#Add a year column to keep track of which year the data relates to when it is aggregated
receiving_df_15['Year'] = 2015

C:\Users\quaid\.conda\envs\pandas\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [33]:
receiving_df_14 = receiving_table_14[0]
#Remove unnecessary characters to help improve data aggregation later
receiving_df_14['Player'] = receiving_df_14['Player'].str.replace('*','')
receiving_df_14['Player'] = receiving_df_14['Player'].str.replace('+','')
#Remove rows with "Rk" as these are just listing the column again as you scroll down the page
receiving_df_14 = receiving_df_14[receiving_df_14.Rk != 'Rk']
#Add a year column to keep track of which year the data relates to when it is aggregated
receiving_df_14['Year'] = 2014

C:\Users\quaid\.conda\envs\pandas\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [34]:
receiving_df_13 = receiving_table_13[0]
#Remove unnecessary characters to help improve data aggregation later
receiving_df_13['Player'] = receiving_df_13['Player'].str.replace('*','')
receiving_df_13['Player'] = receiving_df_13['Player'].str.replace('+','')
#Remove rows with "Rk" as these are just listing the column again as you scroll down the page
receiving_df_13 = receiving_df_13[receiving_df_13.Rk != 'Rk']
#Add a year column to keep track of which year the data relates to when it is aggregated
receiving_df_13['Year'] = 2013

C:\Users\quaid\.conda\envs\pandas\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [35]:
receiving_df_12 = receiving_table_12[0]
#Remove unnecessary characters to help improve data aggregation later
receiving_df_12['Player'] = receiving_df_12['Player'].str.replace('*','')
receiving_df_12['Player'] = receiving_df_12['Player'].str.replace('+','')
#Remove rows with "Rk" as these are just listing the column again as you scroll down the page
receiving_df_12 = receiving_df_12[receiving_df_12.Rk != 'Rk']
#Add a year column to keep track of which year the data relates to when it is aggregated
receiving_df_12['Year'] = 2012

C:\Users\quaid\.conda\envs\pandas\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [36]:
receiving_df_11 = receiving_table_11[0]
#Remove unnecessary characters to help improve data aggregation later
receiving_df_11['Player'] = receiving_df_11['Player'].str.replace('*','')
receiving_df_11['Player'] = receiving_df_11['Player'].str.replace('+','')
#Remove rows with "Rk" as these are just listing the column again as you scroll down the page
receiving_df_11 = receiving_df_11[receiving_df_11.Rk != 'Rk']
#Add a year column to keep track of which year the data relates to when it is aggregated
receiving_df_11['Year'] = 2011

C:\Users\quaid\.conda\envs\pandas\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [37]:
receiving_df_10 = receiving_table_10[0]
#Remove unnecessary characters to help improve data aggregation later
receiving_df_10['Player'] = receiving_df_10['Player'].str.replace('*','')
receiving_df_10['Player'] = receiving_df_10['Player'].str.replace('+','')
#Remove rows with "Rk" as these are just listing the column again as you scroll down the page
receiving_df_10 = receiving_df_10[receiving_df_10.Rk != 'Rk']
#Add a year column to keep track of which year the data relates to when it is aggregated
receiving_df_10['Year'] = 2010

C:\Users\quaid\.conda\envs\pandas\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [38]:
receiving_df_09 = receiving_table_09[0]
#Remove unnecessary characters to help improve data aggregation later
receiving_df_09['Player'] = receiving_df_09['Player'].str.replace('*','')
receiving_df_09['Player'] = receiving_df_09['Player'].str.replace('+','')
#Remove rows with "Rk" as these are just listing the column again as you scroll down the page
receiving_df_09 = receiving_df_09[receiving_df_09.Rk != 'Rk']
#Add a year column to keep track of which year the data relates to when it is aggregated
receiving_df_09['Year'] = 2009

C:\Users\quaid\.conda\envs\pandas\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [39]:
combined_receiving = pd.concat([receiving_df_18, receiving_df_17, receiving_df_16, receiving_df_15, 
                              receiving_df_14, receiving_df_13, receiving_df_12, receiving_df_11, 
                              receiving_df_10, receiving_df_09], ignore_index=True)
# combined_receiving

In [40]:
final_receiving = combined_receiving.fillna(0)
final_receiving = final_receiving.drop(columns=['Rk'])
final_receiving.head()

,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Ctch%,Yds,Y/R,TD,Lng,Y/Tgt,R/G,Y/G,Fmb,Year
0,Michael Thomas,NOR,25,WR,16,16,147,125,85.0%,1405,11.2,9,72,9.6,7.8,87.8,2,2018
1,Zach Ertz,PHI,28,TE,16,16,156,116,74.4%,1163,10.0,8,34,7.5,7.3,72.7,1,2018
2,DeAndre Hopkins,HOU,26,WR,16,16,163,115,70.6%,1572,13.7,11,49,9.6,7.2,98.3,2,2018
3,Julio Jones,ATL,29,WR,16,16,170,113,66.5%,1677,14.8,8,58,9.9,7.1,104.8,2,2018
4,Adam Thielen,MIN,28,WR,16,16,153,113,73.9%,1373,12.2,9,68,9.0,7.1,85.8,1,2018

In [41]:
final_receiving.rename(columns={"Ctch%":"Catch_Perc"}, inplace=True)
# final_receiving.head()

In [42]:
# Rename columns to lowercase and set player to index
final_receiving.rename(columns={"Player":"player","Tm":"team","Age":"age","Pos":"pos","G":"games","GS":"gs","Tgt":"targets",
                             "Rec":"receptions","Catch_Perc":"catch_perc","Yds":"rec_yards","Y/R":"y/r","TD":"td",
                             "Lng":"long","Y/Tgt":"y/target","R/G":"r/g","Y/G":"y/g","Fmb":"fumbles","Year":"year"},
                     inplace=True)
final_receiving.set_index(['player'],inplace=True)
final_receiving.head()

,team,age,pos,games,gs,targets,receptions,catch_perc,rec_yards,y/r,td,long,y/target,r/g,y/g,fumbles,year
player,,,,,,,,,,,,,,,,,
Michael Thomas,NOR,25,WR,16,16,147,125,85.0%,1405,11.2,9,72,9.6,7.8,87.8,2,2018
Zach Ertz,PHI,28,TE,16,16,156,116,74.4%,1163,10.0,8,34,7.5,7.3,72.7,1,2018
DeAndre Hopkins,HOU,26,WR,16,16,163,115,70.6%,1572,13.7,11,49,9.6,7.2,98.3,2,2018
Julio Jones,ATL,29,WR,16,16,170,113,66.5%,1677,14.8,8,58,9.9,7.1,104.8,2,2018
Adam Thielen,MIN,28,WR,16,16,153,113,73.9%,1373,12.2,9,68,9.0,7.1,85.8,1,2018

# Player Salary

In [43]:
# Import downloaded csv player salary data
player_salary = 'raw_data/nfl_salary.csv'
player_salary_df = pd.read_csv(player_salary)
# player_salary_df.head()

In [44]:
clean_salary = player_salary_df.drop(['team','playerId'], axis=1)
# clean_salary.head()

In [45]:
clean_salary.rename(columns={"playerName":"player"}, inplace=True)
clean_salary.head()

,player,year,salary,signingBonus,rosterBonus,workoutBonus,restructureBonus,optionBonus,incentive,totalCash
0,Jeremy Clark,2017,"$348,000","$148,413",-,-,-,-,-,"$496,413"
1,Jeremy Clark,2018,"$555,000",-,-,-,-,-,-,"$555,000"
2,Jeremy Clark,2019,"$645,000",-,-,-,-,-,-,"$645,000"
3,Jeremy Clark,2020,"$735,000",-,-,-,-,-,-,"$735,000"
4,Darius Jennings,2015,"$51,176",-,-,-,-,-,-,"$51,176"

In [46]:
# Rename columns to lowercase and set player to index
clean_salary.rename(columns={"signingBonus":"signing_bonus","rosterBonus":"roster_bonus","workoutBonus":
                            "workout_bonus","restructureBonus":"restructure_bonus","optionBonus":"option_bonus",
                            "totalCash":"total_cash"},
                     inplace=True)
clean_salary.set_index(['player'],inplace=True)
clean_salary.head()

,year,salary,signing_bonus,roster_bonus,workout_bonus,restructure_bonus,option_bonus,incentive,total_cash
player,,,,,,,,,
Jeremy Clark,2017,"$348,000","$148,413",-,-,-,-,-,"$496,413"
Jeremy Clark,2018,"$555,000",-,-,-,-,-,-,"$555,000"
Jeremy Clark,2019,"$645,000",-,-,-,-,-,-,"$645,000"
Jeremy Clark,2020,"$735,000",-,-,-,-,-,-,"$735,000"
Darius Jennings,2015,"$51,176",-,-,-,-,-,-,"$51,176"

# Player Information

In [47]:
# Import downloaded csv of player info
player_info = 'raw_data/basic_player_stat.csv'
player_info_df = pd.read_csv(player_info)
player_info_df.head()

,Age,Birth Place,Birthday,College,Current Status,Current Team,Experience,Height (inches),High School,High School Location,Name,Number,Player Id,Position,Weight (lbs),Years Played
0,NaN,"Grand Rapids , MI",5/23/1921,Notre Dame,Retired,NaN,3 Seasons,71.0,NaN,NaN,"Evans, Fred",NaN,fredevans/2513736,NaN,185.0,1946 - 1948
1,NaN,"Dayton , OH",12/21/1930,Dayton,Retired,NaN,1 Season,70.0,NaN,NaN,"Raiff, Jim",NaN,jimraiff/2523700,NaN,235.0,1954 - 1954
2,56.0,"Temple , TX",9/11/1960,Louisiana Tech,Retired,NaN,1 Season,74.0,NaN,NaN,"Fowler, Bobby",NaN,bobbyfowler/2514295,NaN,230.0,1985 - 1985
3,30.0,"New Orleans , LA",9/30/1986,LSU,Retired,NaN,5 Seasons,73.0,NaN,NaN,"Johnson, Quinn",NaN,quinnjohnson/79593,NaN,255.0,2009 - 2013
4,25.0,"Detroit , MI",3/31/1992,Central Michigan,Active,Pittsburgh Steelers,3rd season,77.0,Clintondale HS,"Clinton Twp.,Macomb Co., MI","Walton, L.T.",96.0,l.t.walton/2552444,DE,305.0,NaN

In [48]:
# Change player name format
# Grab first and last name in variables
first_name = player_info_df['Name'].str.split().str.get(1)
last_name = player_info_df['Name'].str.split().str.get(0)
# Add individual columns and drop full name
clean_info = player_info_df.drop(['Name'],axis=1)
clean_info['First Name'] = first_name
clean_info['Last Name'] = last_name
# Remove the comma
clean_info['Last Name'] = clean_info['Last Name'].str.replace(',','')

In [49]:
# Remove unnecessary columns and drop retired players
df1 = clean_info.drop(['Years Played','Position','Number','Age','High School','High School Location','Player Id','Current Team'],axis=1)
df1.rename(columns={"Current Status":"Status"}, inplace=True)
df1 = df1[df1.Status !='Retired']

In [51]:
# Combine First and Last into one column called Player
df1['Player'] = df1['First Name'] + ' ' + df1['Last Name']
df1.drop(['First Name','Last Name'],axis=1, inplace=True)
df1.head()

,Birth Place,Birthday,College,Status,Experience,Height (inches),Weight (lbs),Player
4,"Detroit , MI",3/31/1992,Central Michigan,Active,3rd season,77.0,305.0,L.T. Walton
7,"Navarre , FL",1/31/1995,Clemson,Active,Rookie,77.0,250.0,Jordan Leggett
17,NaN,3/11/1992,Pittsburgh,Active,1st season,74.0,220.0,Manasseh Garner
35,"Dayton , OH",4/1/1988,Ohio State,Active,8th season,71.0,200.0,Kurt Coleman
37,"Rodeo , CA",7/28/1990,Ohio U.,Active,4th season,72.0,205.0,T.J. Carrie

In [52]:
df1.rename(columns={"Height (inches)":"Height", "Weight (lbs)":"Weight"}, inplace=True)
df1.head()

,Birth Place,Birthday,College,Status,Experience,Height,Weight,Player
4,"Detroit , MI",3/31/1992,Central Michigan,Active,3rd season,77.0,305.0,L.T. Walton
7,"Navarre , FL",1/31/1995,Clemson,Active,Rookie,77.0,250.0,Jordan Leggett
17,NaN,3/11/1992,Pittsburgh,Active,1st season,74.0,220.0,Manasseh Garner
35,"Dayton , OH",4/1/1988,Ohio State,Active,8th season,71.0,200.0,Kurt Coleman
37,"Rodeo , CA",7/28/1990,Ohio U.,Active,4th season,72.0,205.0,T.J. Carrie

In [53]:
# Rename to make headings lowercase and set index to players' name
df1.rename(columns={"Player":"player","Birth Place":"birth_place","Birthday":"birthday","College":"college","Status":"status",
                   "Experience":"experience","Height":"height","Weight":"weight"},
                     inplace=True)
df1.set_index(['player'],inplace=True)
df1.head()

,birth_place,birthday,college,status,experience,height,weight
player,,,,,,,
L.T. Walton,"Detroit , MI",3/31/1992,Central Michigan,Active,3rd season,77.0,305.0
Jordan Leggett,"Navarre , FL",1/31/1995,Clemson,Active,Rookie,77.0,250.0
Manasseh Garner,NaN,3/11/1992,Pittsburgh,Active,1st season,74.0,220.0
Kurt Coleman,"Dayton , OH",4/1/1988,Ohio State,Active,8th season,71.0,200.0
T.J. Carrie,"Rodeo , CA",7/28/1990,Ohio U.,Active,4th season,72.0,205.0

# Move to SQL

In [54]:
# Importing, creating engine, and transfering data to PGAdmin
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:Madiandlink11@127.0.0.1:5432/NFL')
df1.to_sql('player_information', engine)
clean_salary.to_sql('salary', engine)
final_passing.to_sql('passing_stats', engine)
final_rushing.to_sql('rushing_stats', engine)
final_receiving.to_sql('receiving_stats', engine)